#Python 3.11.9
Django
djangorestframework
django-cors-headers
django-filter
djangorestframework-jsonapi
djangorestframework-simplejwt
cryptography
django-ratelimit
decorator
numpy
Pillow
django-imagekit
pilkit
base64io
psycopg2-binary
celery
redis
django-redis
drf-yasg
coreapi
coreschema
uritemplate
ruamel.yaml
inflection
itypes
django-environ
python-magic-bin
filetype
requests
python-dateutil
pytz
tzdata
arrow
django-email-verification
html2text
gunicorn
whitenoise
django-debug-toolbar
django-extensions
ipython
django-silk
colorlog
sentry-sdk
pytest
pytest-django
pytest-cov
factory-boy

